Имя пакета изменилось с vue-cli на @vue/cli. Если у вас установлена глобально предыдущая версия пакета vue-cli (1.x или 2.x), то необходимо сначала удалить её командой npm uninstall vue-cli -g или yarn global remove vue-cli.


====== с webpack 
vue init webpack ...название проекта...

=============== без webpack
в терминале --- vue create название 

=========== vuetify
vue add vuetify

==========  bootstrap 
npm install  bootstrap-vue bootstrap
в main.js
import { BootstrapVue, IconsPlugin } from "bootstrap-vue";
Vue.use(BootstrapVue);
Vue.use(IconsPlugin);
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";

========= vue-router
vue add router
<router-link to="/foo">Перейти к Foo</router-link><!-- это обычно в navbar -->
<router-view></router-view><!--это-в app.vue--- вообще  в какой файл поставишь--- туда и будут передаваться странички -->

========= vuex
npm install vuex --save

========= axios
npm i axios
import axios from 'axios'
Vue.prototype.axios = axios;

++++++++++++++++++++++++++++++++++++++++++ краткая справка 
++++++++++++++++++++++++++++++++++++++++++ краткая справка 
++++++++++++++++++++++++++++++++++++++++++ краткая справка 
++++++++++++++++++++++++++++++++++++++++++ краткая справка 
++++++++++++++++++++++++++++++++++++++++++ краткая справка 
|
lang="pug">
vbase
import Navbar from "@/components/navbar"<!-- @--отсчет от папки src -->
,components: {Navbar},
,methods:{},
this.$emit('visibleChange', false)
props:['photo'],
++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++


======================== иконки bootstrap
<b-icon  :icon = "icon"> </b-icon> 
 data() {
    return {
  icon:"command"
      }
    },



  =====================================
<Form></Form>

import Form from '@/components/form'

 components: {
    Form
  }

========= поле data
data(){
    const data ={}
    <!-- внутри прописываются непосредственно пременные и константы -->
        return data
  }		
=====================================

<li v-for="item in list" :key="item">
        {{ item.content }}
</li>	


=====================================

<!-- -----выведет поле текст и поле id  из data------------ -->
<template>
  <div>
    {{text + id}} 
  </div>
</template>
<script>
  export default {
    name: 'Mycomponent',
    data() {
      return {
        text: "Hello!!!",// это свойство. с ними можно производить мат операции и присваивать  новые значения
        id: 10

      }
    }
  }
</script>

=============transition===================
переключает появление по кнопке тега p
здесь 
@click="show = !show"  по клику меняет значение show на противоположное
v-if="show"		проверяет если переменная show=true
 <button @click="show = !show">
    Переключить
  </button>
<transition name="fade" mode="out-in">
  <p v-if="show">привет</p>
</transition>
<script>
export default {
  data(){
    return{
    show: false
  }
}
}
</script>

<style scoped>
  /* в данном случае к анимации с именем fade применяются классы */
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}	
  /* здесь */
  /* .fade-enter-active, .fade-leave-active   классы vue которые определяют свойства при появлении или при исчезновении */
/* полный список классов
v-enter: Означает начало анимации появления элемента. Этот класс добавляется перед вставкой элемента, а удаляется в следующем фрейме после вставки.

v-enter-active: Означает, что анимация появления элемента активна. Этот класс остаётся в течение всей анимации. Он добавляется перед вставкой элемента, а удаляется как только переход или анимация прекратились. Используйте его для установки длительности, задержки и плавности (easing curve) анимации появления.

v-enter-to: Доступно только в версиях 2.1.8+. Означает, что анимация появления элемента завершается. Класс добавляется в следующем фрейме после вставки элемента (тогда же, когда будет удалён v-enter ), удаляется после завершения перехода или анимации.

v-leave: Означает начало анимации исчезновения элемента. Класс добавляется как только началась анимация исчезновения, а удаляется в следующем фрейме после этого.

v-leave-active: Означает, что анимация исчезновения элемента активна. Этот класс остаётся в течение всей анимации. Он добавляется как только начинается анимация исчезновения, а удаляется как только переход или анимация прекратились. Используйте его для установки длительности, задержки и плавности (easing curve) анимации исчезновения.

v-leave-to: Доступно только в версиях 2.1.8+. Означает, что анимация исчезновения элемента завершается. Класс добавляется в следующем фрейме после начала анимации исчезновения (тогда же, когда будет удалён v-leave), а удаляется после завершения перехода или анимации.		 */



</style>


===========================
для вывода атрибута-- например id для checkbox нужно ставить :

 <input type="checkbox" class="form-check-input" :id="item.id">
            <label :for="item.id" class="form-check-label">
здесь 
item.id		одно из свойств заданных в поле data
 data(){
    const data ={}
    <!-- создается массив list -->
    data.list = []
    <!-- определяются элементы массива. пока еще в виде констант -->
    const item1 = {
      id: 1,
      content: "Купить хлеба"
    }
    const item2 = {
      id: 2,
      content: "Купить пива"
    }
    <!-- элементы добавляются в массив. каждый в конец массива -->
    data.list.push(item1)
    data.list.push(item2)
<!-- элементы добавляются в массив. каждый в начало массива -->
    data.list.unshift(item1)
    data.list.unshift(item2)
    <!-- возвращает данные из поля data -->
    return data
  }		

  ===========================  сработает по отпусканию кнопки enter.
   @keyup.enter="inputHandler()"
<input type="text" class="form-control" id='input' v-model="input" @keyup.enter="inputHandler()">
в data объявляется поле 
data.input = "" 
  ================= по отжатию клавиши enter  будет вызвана функция , которая например

      inputHandler(){
        <!-- возьмет содержимое поля input и уберет пробелы -->
      const input = this.input.trim()
      <!-- если инпут пустой -- выход -->
      if(!input){
        return
      }
<!-- будет сформирован новый пункт списка. из за v-model="input" прееменная input связана с инпутом двухсторонней связью. то есть меняем перременную - меняется содержимое инпута. и наоборот-->
      const item = {
        <!-- в переменную id запишется число равное количеству пунктов +1 -->
       id: this.list.length + 1,
       <!-- контент пункта запишется в переменную input -->
        content: input,
        <!-- переменная принимает значение отрицание. то есть не выбрано и не сделано -->
        selected: false,
        done: false
        }
        <!-- в начало массива list будет добавлен новый пункт -->
this.list.unshift(item)
<!-- после чего --- поле input обнулится -->
this.input=""
    },




https://learn.javascript.ru/array-methods

arr.push(...items) – добавляет элементы в конец,
arr.pop() – извлекает элемент из конца,
arr.shift() – извлекает элемент из начала,
arr.unshift(...items) – добавляет элементы в начало.
.reverse()
.join('') 
.trim()
.split('')
arr.splice(2, 0, "сложный", "язык");   --- с позиции 2  удалить 0 элементов вставить "сложный", "язык"
alert( arr.slice(1, 3) );   -- e,s (копирует с 1 до 3)
alert( arr.concat([3, 4], [5, 6]) ); // 1,2,3,4,5,6  ---создать массив из: arr и [3,4] и [5,6]
["Bilbo", "Gandalf", "Nazgul"].forEach(alert);   ---Вызов alert для каждого элемента

arr.indexOf(item, from) ищет item, начиная с индекса from, и возвращает индекс, на котором был найден искомый элемент, в противном случае -1.
arr.lastIndexOf(item, from) – то же самое, но ищет справа налево.
arr.includes(item, from) – ищет item, начиная с индекса from, и возвращает true, если поиск успешен.

let result = arr.find(function(item, index, array) {
  // если true - возвращается текущий элемент и перебор прерывается
  // если все итерации оказались ложными, возвращается undefined
});

let results = arr.filter(function(item, index, array) {
  // если true - элемент добавляется к результату, и перебор продолжается
  // возвращается пустой массив в случае, если ничего не найдено
});
пример let users = [
  {id: 1, name: "Вася"},
  {id: 2, name: "Петя"},
  {id: 3, name: "Маша"}
];
// возвращает массив, состоящий из двух первых пользователей
let someUsers = users.filter(item => item.id < 3);
alert(someUsers.length);



  =========== связывает двухсторонней связью состояние чекбокса checked  и атрибут переменной item.
  v-model="item.selected"

========== этот блок будет виден только если поле someSelected   имеет значение  true
<div id='actionPanel2' class="mt-2" v-if="someSelected"></div>
<!-- someSelected можно сделать функцией которая например переберет все пункты в массиве list и хотя бы один имеет поле item.selected то функция вернет true -->
computed:{
    someSelected(){
      for(const item of this.list){
  if(item.selected){
   return true
  }
}
return false
  }
}

=============================== переведет строку в число
this.result=eval(this.result)

================ переведет число в строку
this.result = this.result.toString()

==================== разрушает приложенеие
$destroy()


================ поиск в массиве по id
   const post_id = this.wallPosts.findIndex(post => post.id === id)


=================отлавливание события изменения размеров окна
 data() {
    return {
      show: true,
      width: 0,
    }
  },
  methods: {
    updateWidth() {
     --- переменной присваиваем размер окна
    this.width = window.innerWidth;
     if (this.width < 768) {
            console.log(this.show)
            }
            return this.show
  },
  --слушаем событие изменение размеров окна и вешаем на это событие функцию updateWidth
created() {
  window.addEventListener('resize', this.updateWidth);
},


============  иконки 
https://icons.getbootstrap.com/     -ищем подходящую
<b-icon icon="person-fill"></b-icon>
<b-icon-person-fill/>
<b-icon 
icon="alarm" 
font-scale="3" 
variant="primary"
 animation="spin"
 >
или
<b-icon  :icon = "название"> </b-icon> 
можно все иконки запулить в цикле . здесь выйдут синие кнопки с иконками
 <b-button
       variant="outline-primary"
       v-for="( item, index)  in menuItems"
         :key="index"
          :to="item.route" 
       >  
        <b-icon  :icon = "item.icon"> </b-icon> 
      {{item.title}}
      </b-button>

   computed:{
      menuItems(){
        return [
          {
            icon: 'align-end',
            title: "Читать",
            route: "/books",
          }
        ]
      }
    }     

=============== цвета
var(--primary);

========== картинки для тестов
https://picsum.photos/1920/1080?random
https://cdn.pixabay.com/photo/2020/07/12/07/47/bee-5396362_1280.jpg

============ фэйковое api
https://jsonplaceholder.typicode.com/photos?_limit=10