создать новую папку с названием проекта 
по ней открыть новый терминал   -- ореn in integrated terminal

без webpack===============
в терминале --- vue create название --- эта команда создаст экземпляр vue
npm i 
--- загрузит node_modules
npm run serve 
--- откроет  localhost 8080

с webpack==========================
vue init webpack название проекта
npm i --- загрузит node_modules
npm run dev	 

создать в мененджере проектов ================
vue ui

=====================================
=====================================
=====================================
=====================================
=====================================

<li v-for="item in list" :key="item">
        {{ item.content }}
</li>	


=====================================
=====================================
=====================================
=====================================
=====================================

<!-- -----выведет поле текст и поле id  из data------------ -->
<template>
  <div>
    {{text + id}} 
  </div>
</template>
<script>
  export default {
    name: 'Mycomponent',
    data() {
      return {
        text: "Hello!!!",// это свойство. с ними можно производить мат операции и присваивать  новые значения
        id: 10

      }
    }
  }
</script>


<!-- выведет данные из поля data из переменной email -->
:value="email"  --короткая запись
v-bind:value="email" 
export default {
name: 'Mycomponent',
data(){
return{
text:"Hello!!!",
email:"yushinbox@gmail.com",
password:"123456i"
}
}

=============transition===================
переключает появление по кнопке тега p
здесь 
@click="show = !show"  по клику меняет значение show на противоположное
v-if="show"		проверяет если переменная show=true
 <button @click="show = !show">
    Переключить
  </button>
<transition name="fade" mode="out-in">
  <p v-if="show">привет</p>
</transition>
<script>
export default {
  data(){
    return{
    show: false
  }
}
}
</script>

<style scoped>
  /* в данном случае к анимации с именем fade применяются классы */
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}	
  /* здесь */
  /* .fade-enter-active, .fade-leave-active   классы vue которые определяют свойства при появлении или при исчезновении */
/* полный список классов
v-enter: Означает начало анимации появления элемента. Этот класс добавляется перед вставкой элемента, а удаляется в следующем фрейме после вставки.

v-enter-active: Означает, что анимация появления элемента активна. Этот класс остаётся в течение всей анимации. Он добавляется перед вставкой элемента, а удаляется как только переход или анимация прекратились. Используйте его для установки длительности, задержки и плавности (easing curve) анимации появления.

v-enter-to: Доступно только в версиях 2.1.8+. Означает, что анимация появления элемента завершается. Класс добавляется в следующем фрейме после вставки элемента (тогда же, когда будет удалён v-enter ), удаляется после завершения перехода или анимации.

v-leave: Означает начало анимации исчезновения элемента. Класс добавляется как только началась анимация исчезновения, а удаляется в следующем фрейме после этого.

v-leave-active: Означает, что анимация исчезновения элемента активна. Этот класс остаётся в течение всей анимации. Он добавляется как только начинается анимация исчезновения, а удаляется как только переход или анимация прекратились. Используйте его для установки длительности, задержки и плавности (easing curve) анимации исчезновения.

v-leave-to: Доступно только в версиях 2.1.8+. Означает, что анимация исчезновения элемента завершается. Класс добавляется в следующем фрейме после начала анимации исчезновения (тогда же, когда будет удалён v-leave), а удаляется после завершения перехода или анимации.		 */



</style>
===========================
для вывода атрибута-- например id для checkbox нужно ставить :

 <input type="checkbox" class="form-check-input" :id="item.id">
            <label :for="item.id" class="form-check-label">
здесь 
item.id		одно из свойств заданных в поле data
 data(){
    const data ={}
    data.list = []
    
    const item1 = {
      id: 1,
      content: "Купить хлеба"
    }
    const item2 = {
      id: 2,
      content: "Купить пива"
    }
   data.list.push(item1)
    data.list.push(item2)
    return data
  }		