<!DOCTYPE html>
<html>
  <head>
    <title>Весенние ритмы</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,shrink-to-fit=no"
    />
    <link href="assets/css/app.css" rel="stylesheet" />
  </head>
  <body>
    <div class="wrapper">
      <section class="first">
        <div class="first__title">
          <h1>Весенние ритмы-2021</h1>
          <div class="_title-1">г. Мариуполь</div>
        </div>
        <header class="header">
          <div class="header__body container">
            <nav class="header__menu menu">
              <i class="icon-x header__close"></i>
              <ul class="menu__list">
                <li class="menu__item">
                  <a class="menu__link" href="#!">Главная</a>
                </li>
                <li class="menu__item">
                  <a class="menu__link" href="#!">Расписание турнира</a>
                </li>
                <li class="menu__item">
                  <a class="menu__link" href="#!"
                    >Предварительная регистрация</a
                  >
                </li>
                <li class="menu__item">
                  <a class="menu__link" href="#!"
                    >Предварительные списки участников</a
                  >
                </li>
                <li class="menu__item">
                  <a class="menu__link" href="#!">Контакты</a>
                </li>
              </ul>
            </nav>
            <i class="icon-align-justify header__burger"></i>
          </div>
        </header>
      </section>
      <section class="content" >
        <div class="title-2">
          <h2>Кликните по вкладке с интересующей вас категорией</h2>
        </div>
        <div class="akr">
          <div class="akr__wrapper">
            <ul class="akr__body">
              <li class="akr__item akr-item" id="bs5">
                <div class="akr-item__title akr-title-js">
                  Бэби 3-5 лет дебют соло (w,ch)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                  <div class="akr-item__line line">
                    <span>Пупкин Трофим</span><span> Дуракова Анфиса</span
                    ><span> Веселые человечки</span><span> Марк Жопов</span
                    ><span> Кислозадрыщенск</span>
                  </div>
                  <div class="akr-item__line line">
                    <span>Пупкин Трофим</span><span> Дуракова Анфиса</span
                    ><span> Веселые человечки</span><span> Марк Жопов</span
                    ><span> Кислозадрыщенск</span>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Бэби 3-5 лет дебют дуэты (w,ch)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                  <div class="akr-item__line line">
                    <span>Пупкин Трофим</span><span> Дуракова Анфиса</span
                    ><span> Веселые человечки</span><span> Марк Жопов</span
                    ><span> Кислозадрыщенск</span>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Бэби 3-5 лет школа соло (w,ch,j)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                  <div class="akr-item__line line">
                    <span>Пупкин Трофим</span><span> Дуракова Анфиса</span
                    ><span> Веселые человечки</span><span> Марк Жопов</span
                    ><span> Кислозадрыщенск</span>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Бэби 3-5 лет школа дуэты (w,ch,j)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Дети 6-7 лет дебют соло (w,ch)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Дети 6-7 лет дебют дуэты (w,ch)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Дети 6-7 лет школа соло (w,ch,j)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Дети 6-7 лет школа дуэты (w,ch,j)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Дети 6-7 лет начинающие соло (w,q,ch,j)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Дети 6-7 лет начинающие дуэты (w,q,ch,j)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Ювеналы-1 8-9 лет дебют соло (w,ch)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Ювеналы-1 8-9 лет дебют дуэты (w,ch)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Ювеналы-1 8-9 лет школа соло (w,ch,j)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Ювеналы-1 8-9 лет школа дуэты (w,ch,j)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Ювеналы-1 8-9 лет начинающие соло (w,q,ch,j)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Ювеналы-1 8-9 лет начинающие дуэты (w,q,ch,j)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Ювеналы-1 8-9 лет E-st соло (w,t,q)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Ювеналы-1 8-9 лет E-la соло (s,ch,j)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Ювеналы-1 8-9 лет E-st дуэты (w,t,q)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Ювеналы-1 8-9 лет E-la дуэты (s,ch,j)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Ювеналы-1 8-9 лет D-st (w,t,vw,q)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Ювеналы-1 8-9 лет D-la (s,ch,r,j)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Ювеналы-2 10-11 лет дебют соло (w,ch)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Ювеналы-2 10-11 лет дебют дуэты (w,ch)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Ювеналы-2 10-11 лет школа соло (w,ch,j)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Ювеналы-2 10-11 лет школа дуэты (w,ch,j)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Ювеналы-2 10-11 лет начинающие соло (w,q,ch,j)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Ювеналы-2 10-11 лет начинающие дуэты (w,q,ch,j)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Ювеналы-2 10-11 лет E-st соло (w,t,q)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Ювеналы-2 10-11 лет E-la соло (s,ch,j)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Ювеналы-2 10-11 лет E-st дуэты (w,t,q)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Ювеналы-2 10-11 лет E-la дуэты (s,ch,j)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Ювеналы-2 10-11 лет D-st (w,t,vw,q)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Ювеналы-2 10-11 лет D-la (s,ch,r,j)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Юниоры-1 12-13 лет начинающие соло (w,q,ch,j)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Юниоры-1 12-13 лет начинающие дуэты (w,q,ch,j)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Юниоры-1 12-13 лет E-st соло (w,t,q)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Юниоры-1 12-13 лет E-la соло (s,ch,j)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Юниоры-1 12-13 лет E-st дуэты (w,t,q)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Юниоры-1 12-13 лет E-la дуэты (s,ch,j)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Юниоры-1 12-13 лет D-st (w,t,vw,q)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Юниоры-1 12-13 лет D-la (s,ch,r,j)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Юниоры-1 12-13 лет RS-st (w,t,vw,f,q)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Юниоры-1 12-13 лет RS-la (s,ch,r,p,j)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Юниоры-2 14-15 лет начинающие соло (w,q,ch,j)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Юниоры-2 14-15 лет начинающие дуэты (w,q,ch,j)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Юниоры-2 14-15 лет E-st соло (w,t,q)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Юниоры-2 14-15 лет E-la соло (s,ch,j)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Юниоры-2 14-15 лет E-st дуэты (w,t,q)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Юниоры-2 14-15 лет E-la дуэты (s,ch,j)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Юниоры-2 14-15 лет D-st (w,t,vw,q)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Юниоры-2 14-15 лет D-la (s,ch,r,j)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Юниоры-2 14-15 лет RS-st (w,t,vw,f,q)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Юниоры-2 14-15 лет RS-la (s,ch,r,p,j)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Юниоры-1+2 12-15 лет дебют соло (w,ch)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Юниоры-1+2 12-15 лет дебют дуэты (w,ch)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Юниоры-1+2 12-15 лет школа соло (w,ch,j)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Юниоры-1+2 12-15 лет школа дуэты (w,ch,j)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Молодежь 16-19 лет D-st (w,t,vw,q)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Молодежь 16-19 лет D-la (s,ch,r,j)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Молодежь 16-19 лет RS-st (w,t,vw,f,q)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="akr__item akr-item">
                <div class="akr-item__title akr-title-js">
                  Молодежь 16-19 лет RS-la (s,ch,r,p,j)<i
                    class="icon-chevron-down akr-item__img akr-item-img-js"
                  ></i>
                </div>
                <div class="akr__drop akr-drop akr-drop-js">
                  <div class="list">
                    <div class="list__header">
                      <div class="list__item">Партнер</div>
                      <div class="list__item">Партнерша</div>
                      <div class="list__item">Клуб</div>
                      <div class="list__item">Фамилия тренера</div>
                      <div class="list__item">Город</div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <div class="cssload">
        <div class="cssload-loader" id="p_prldr">
          <div class="cssload-inner cssload-one"></div>
          <div class="cssload-inner cssload-two"></div>
          <div class="cssload-inner cssload-three"></div>
        </div>
      </div>
    </div>
    <script src="assets/js/app.js"></script>
  </body>
</html>
