<!DOCTYPE html>
<html>
  <head>
    <title>Весенние ритмы</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,shrink-to-fit=no"
    />
    <link href="assets/css/app.css" rel="stylesheet" />
  </head>
  <body>
    <div class="wrapper">
      <section class="first">
        <div class="first__title">
          <h1>Весенние ритмы-2021</h1>
          <div class="_title-1">г. Мариуполь</div>
        </div>
        <header class="header">
          <div class="header__body container">
            <nav class="header__menu menu">
              <i class="icon-x header__close"></i>
              <ul class="menu__list">
                <li class="menu__item">
                  <a class="menu__link" href="#!">Главная</a>
                </li>
                <li class="menu__item">
                  <a class="menu__link" href="#!">Расписание турнира</a>
                </li>
                <li class="menu__item">
                  <a class="menu__link" href="#!"
                    >Предварительная регистрация</a
                  >
                </li>
                <li class="menu__item">
                  <a class="menu__link" href="#!"
                    >Предварительные списки участников</a
                  >
                </li>
                <li class="menu__item">
                  <a class="menu__link" href="#!">Контакты</a>
                </li>
              </ul>
            </nav>
            <i class="icon-align-justify header__burger"></i>
          </div>
        </header>
      </section>
      <section class="contacts" id="contacts">
        <div class="contacts__wrapper">
          <article class="contacts__article article">
            <div class="contacts__title">Координатор турнира</div>
            <div class="contacts__text">
              Юшин Виктор Георгиевич - +380988314612
            </div>
          </article>
          <article class="contacts__article article">
            <div class="contacts__title">Координатор турнира</div>
            <div class="contacts__text">
              Юшина Марина Ивановна - +380962830957
            </div>
          </article>
          <article class="contacts__article article">
            <div class="contacts__title">Администратор турнира</div>
            <div class="contacts__text">
              Винникова Марина Викторовна - +380987402730
            </div>
          </article>
          <article class="contacts__article article">
            <div class="contacts__title">Место проведения</div>
            <p class="contacts__text">Центр Культуры "Левобережний"</p>
            <p class="contacts__text">г. Мариуполь, ул. Азовтальская 13-а</p>
            <p class="contacts__text">Е-mail: yushinbox@gmail.com</p>
          </article>
        </div>
      </section>
      <div class="cssload">
        <div class="cssload-loader" id="p_prldr">
          <div class="cssload-inner cssload-one"></div>
          <div class="cssload-inner cssload-two"></div>
          <div class="cssload-inner cssload-three"></div>
        </div>
      </div>
    </div>
    <script src="assets/js/app.js"></script>
  </body>
</html>
