<!DOCTYPE html>
<html>
  <head>
    <title>Весенние ритмы</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,shrink-to-fit=no"
    />
    <link href="assets/css/app.css" rel="stylesheet" />
  </head>
  <body>
    <div class="wrapper">
      <section class="first">
        <div class="first__title">
          <h1>Весенние ритмы-2021</h1>
          <div class="_title-1">г. Мариуполь</div>
        </div>
        <header class="header">
          <div class="header__body container">
            <nav class="header__menu menu">
              <i class="icon-x header__close"></i>
              <ul class="menu__list">
                <li class="menu__item">
                  <a class="menu__link" href="#!">Главная</a>
                </li>
                <li class="menu__item">
                  <a class="menu__link" href="#!">Расписание турнира</a>
                </li>
                <li class="menu__item">
                  <a class="menu__link" href="#!"
                    >Предварительная регистрация</a
                  >
                </li>
                <li class="menu__item">
                  <a class="menu__link" href="#!"
                    >Предварительные списки участников</a
                  >
                </li>
                <li class="menu__item">
                  <a class="menu__link" href="#!">Контакты</a>
                </li>
              </ul>
            </nav>
            <i class="icon-align-justify header__burger"></i>
          </div>
        </header>
      </section>
      <section class="contacts" id="content-home">
        <div class="contacts__wrapper">
          <article class="contacts__article article">
            <div class="contacts__title">Дорогие друзья!</div>
            <div class="contacts__text">
              Клуб спортивного танца "Вернисаж" ждет вас на традиционном турнире
              по спортивным бальным танцам, который состоится 28 марта 2021г. в
              помещении Центра Культуры "Левобережний".
            </div>
            <div class="contacts__text">
              На этом сайте размещена необходимая информация о турнире,
              контакты. Перейдя на соответствующую страницу, вы сможете пройти
              предварительную регистрацию и сразу же найти себя в списках
              участников. Однако принять участие в турнире можно будет только
              после регистрации вас тренером.
            </div>
            <div class="contacts__text warn">Важно!</div>
            <div class="contacts__text">
              В связи с карантинными ограничениями попасть во Дворец можно
              <span>исключительно</span> соблюдая требования санитарных норм. А
              именнно - обязательное ношение медицинской маски и бахилл (если
              нет сменной обуви).
            </div>
          </article>
          <article class="contacts__article article">
            <div class="contacts__title contacts__title--end">
              До встречи на паркете!
            </div>
          </article>
        </div>
      </section>
      <div class="cssload">
        <div class="cssload-loader" id="p_prldr">
          <div class="cssload-inner cssload-one"></div>
          <div class="cssload-inner cssload-two"></div>
          <div class="cssload-inner cssload-three"></div>
        </div>
      </div>
    </div>
    <script src="assets/js/app.js"></script>
  </body>
</html>
