<!DOCTYPE html>
<html>
  <head>
    <title>Весенние ритмы</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,shrink-to-fit=no"
    />
    <link href="assets/css/app.css" rel="stylesheet" />
  </head>
  <body>
    <div class="wrapper">
      <section class="first">
        <div class="first__title">
          <h1>Весенние ритмы-2021</h1>
          <div class="_title-1">г. Мариуполь</div>
        </div>
        <header class="header">
          <div class="header__body container">
            <nav class="header__menu menu">
              <i class="icon-x header__close"></i>
              <ul class="menu__list">
                <li class="menu__item">
                  <a class="menu__link" href="#!">Главная</a>
                </li>
                <li class="menu__item">
                  <a class="menu__link" href="#!">Расписание турнира</a>
                </li>
                <li class="menu__item">
                  <a class="menu__link" href="#!"
                    >Предварительная регистрация</a
                  >
                </li>
                <li class="menu__item">
                  <a class="menu__link" href="#!"
                    >Предварительные списки участников</a
                  >
                </li>
                <li class="menu__item">
                  <a class="menu__link" href="#!">Контакты</a>
                </li>
              </ul>
            </nav>
            <i class="icon-align-justify header__burger"></i>
          </div>
        </header>
      </section>
      <section class="content" >
        <div class="title-2">
          <h2>Пройдите предварительную регистрацию , заполнив форму ниже.</h2>
        </div>
        <form class="login-form">
          <div class="flex-row">
            <input
              class="lf--input"
              id="username"
              placeholder="Имя партнера*"
            />
          </div>
          <div class="flex-row">
            <input
              class="lf--input"
              id="username-1"
              placeholder="Фамилия партнера*"
            />
          </div>
          <div class="flex-row">
            <input
              class="lf--input"
              id="username-2"
              placeholder="Имя партнерши*"
            />
          </div>
          <div class="flex-row">
            <input
              class="lf--input"
              id="username-3"
              placeholder="Фамилия партнерши*"
            />
          </div>
          <div class="flex-row">
            <input class="lf--input" id="username-4" placeholder="Клуб*" />
          </div>
          <div class="flex-row">
            <input
              class="lf--input"
              id="username-5"
              placeholder="Фамилия тренера*"
            />
          </div>
          <div class="flex-row">
            <input class="lf--input" id="username-6" placeholder="Город*" />
          </div>
          <div class="flex-row">
            <div class="lf--input" id="username-7">
              <div class="block__select">
                <select class="select">
                  <option value="Выберите" disabled="disabled">
                    Выберите категорию*
                  </option>
                  <option value="По актуальности">
                    Бэби 3-5 лет дебют соло (w,ch)
                  </option>
                  <option value="По актуальности">
                    Бэби 3-5 лет дебют дуэты (w,ch)
                  </option>
                  <option value="По актуальности">
                    Бэби 3-5 лет школа соло (w,ch,j)
                  </option>
                  <option value="По актуальности">
                    Бэби 3-5 лет школа дуэты (w,ch,j)
                  </option>
                  <option value="По актуальности">
                    Дети 6-7 лет дебют соло (w,ch)
                  </option>
                  <option value="По актуальности">
                    Дети 6-7 лет дебют дуэты (w,ch)
                  </option>
                  <option value="По актуальности">
                    Дети 6-7 лет школа соло (w,ch,j)
                  </option>
                  <option value="По актуальности">
                    Дети 6-7 лет школа дуэты (w,ch,j)
                  </option>
                  <option value="По актуальности">
                    Дети 6-7 лет начинающие соло (w,q,ch,j)
                  </option>
                  <option value="По актуальности">
                    Дети 6-7 лет начинающие дуэты (w,q,ch,j)
                  </option>
                  <option value="По актуальности">
                    Ювеналы-1 8-9 лет дебют соло (w,ch)
                  </option>
                  <option value="По актуальности">
                    Ювеналы-1 8-9 лет дебют дуэты (w,ch)
                  </option>
                  <option value="По актуальности">
                    Ювеналы-1 8-9 лет школа соло (w,ch,j)
                  </option>
                  <option value="По актуальности">
                    Ювеналы-1 8-9 лет школа дуэты (w,ch,j)
                  </option>
                  <option value="По актуальности">
                    Ювеналы-1 8-9 лет начинающие соло (w,q,ch,j)
                  </option>
                  <option value="По актуальности">
                    Ювеналы-1 8-9 лет начинающие дуэты (w,q,ch,j)
                  </option>
                  <option value="По актуальности">
                    Ювеналы-1 8-9 лет E-st соло (w,t,q)
                  </option>
                  <option value="По актуальности">
                    Ювеналы-1 8-9 лет E-la соло (s,ch,j)
                  </option>
                  <option value="По актуальности">
                    Ювеналы-1 8-9 лет E-st дуэты (w,t,q)
                  </option>
                  <option value="По актуальности">
                    Ювеналы-1 8-9 лет E-la дуэты (s,ch,j)
                  </option>
                  <option value="По актуальности">
                    Ювеналы-1 8-9 лет D-st (w,t,vw,q)
                  </option>
                  <option value="По актуальности">
                    Ювеналы-1 8-9 лет D-la (s,ch,r,j)
                  </option>
                  <option value="По актуальности">
                    Ювеналы-2 10-11 лет дебют соло (w,ch)
                  </option>
                  <option value="По актуальности">
                    Ювеналы-2 10-11 лет дебют дуэты (w,ch)
                  </option>
                  <option value="По актуальности">
                    Ювеналы-2 10-11 лет школа соло (w,ch,j)
                  </option>
                  <option value="По актуальности">
                    Ювеналы-2 10-11 лет школа дуэты (w,ch,j)
                  </option>
                  <option value="По актуальности">
                    Ювеналы-2 10-11 лет начинающие соло (w,q,ch,j)
                  </option>
                  <option value="По актуальности">
                    Ювеналы-2 10-11 лет начинающие дуэты (w,q,ch,j)
                  </option>
                  <option value="По актуальности">
                    Ювеналы-2 10-11 лет E-st соло (w,t,q)
                  </option>
                  <option value="По актуальности">
                    Ювеналы-2 10-11 лет E-la соло (s,ch,j)
                  </option>
                  <option value="По актуальности">
                    Ювеналы-2 10-11 лет E-st дуэты (w,t,q)
                  </option>
                  <option value="По актуальности">
                    Ювеналы-2 10-11 лет E-la дуэты (s,ch,j)
                  </option>
                  <option value="По актуальности">
                    Ювеналы-2 10-11 лет D-st (w,t,vw,q)
                  </option>
                  <option value="По актуальности">
                    Ювеналы-2 10-11 лет D-la (s,ch,r,j)
                  </option>
                  <option value="По актуальности">
                    Юниоры-1 12-13 лет начинающие соло (w,q,ch,j)
                  </option>
                  <option value="По актуальности">
                    Юниоры-1 12-13 лет начинающие дуэты (w,q,ch,j)
                  </option>
                  <option value="По актуальности">
                    Юниоры-1 12-13 лет E-st соло (w,t,q)
                  </option>
                  <option value="По актуальности">
                    Юниоры-1 12-13 лет E-la соло (s,ch,j)
                  </option>
                  <option value="По актуальности">
                    Юниоры-1 12-13 лет E-st дуэты (w,t,q)
                  </option>
                  <option value="По актуальности">
                    Юниоры-1 12-13 лет E-la дуэты (s,ch,j)
                  </option>
                  <option value="По актуальности">
                    Юниоры-1 12-13 лет D-st (w,t,vw,q)
                  </option>
                  <option value="По актуальности">
                    Юниоры-1 12-13 лет D-la (s,ch,r,j)
                  </option>
                  <option value="По актуальности">
                    Юниоры-1 12-13 лет RS-st (w,t,vw,f,q)
                  </option>
                  <option value="По актуальности">
                    Юниоры-1 12-13 лет RS-la (s,ch,r,p,
                  </option>
                  <option value="По актуальности">
                    Юниоры-2 14-15 лет начинающие соло (w,q,ch,j)
                  </option>
                  <option value="По актуальности">
                    Юниоры-2 14-15 лет начинающие дуэты (w,q,ch,j)
                  </option>
                  <option value="По актуальности">
                    Юниоры-2 14-15 лет E-st соло (w,t,q)
                  </option>
                  <option value="По актуальности">
                    Юниоры-2 14-15 лет E-la соло (s,ch,j)
                  </option>
                  <option value="По актуальности">
                    Юниоры-2 14-15 лет E-st дуэты (w,t,q)
                  </option>
                  <option value="По актуальности">
                    Юниоры-2 14-15 лет E-la дуэты (s,ch,j)
                  </option>
                  <option value="По актуальности">
                    Юниоры-2 14-15 лет D-st (w,t,vw,q)
                  </option>
                  <option value="По актуальности">
                    Юниоры-2 14-15 лет D-la (s,ch,r,j)
                  </option>
                  <option value="По актуальности">
                    Юниоры-2 14-15 лет RS-st (w,t,vw,f,q)
                  </option>
                  <option value="По актуальности">
                    Юниоры-2 14-15 лет RS-la (s,ch,r,p,
                  </option>
                  <option value="По актуальности">
                    Юниоры-1+2 12-15 лет дебют соло (w,ch)
                  </option>
                  <option value="По актуальности">
                    Юниоры-1+2 12-15 лет дебют дуэты (w,ch)
                  </option>
                  <option value="По актуальности">
                    Юниоры-1+2 12-15 лет школа соло (w,ch,j)
                  </option>
                  <option value="По актуальности">
                    Юниоры-1+2 12-15 лет школа дуэты (w,ch,
                  </option>
                  <option value="По актуальности">
                    Молодежь 16-19 лет D-st (w,t,vw,q)
                  </option>
                  <option value="По актуальности">
                    Молодежь 16-19 лет D-la (s,ch,r,j)
                  </option>
                  <option value="По актуальности">
                    Молодежь 16-19 лет RS-st (w,t,vw,f,q)
                  </option>
                  <option value="По актуальности">
                    Молодежь 16-19 лет RS-la (s,ch,r,p,j)
                  </option></select
                ><i class="icon-chevron-down block__icon"></i>
              </div>
            </div>
          </div>
          <input class="lf--submit" type="submit" value="Зарегистрироваться" />
        </form>
      </section>
      <div class="cssload">
        <div class="cssload-loader" id="p_prldr">
          <div class="cssload-inner cssload-one"></div>
          <div class="cssload-inner cssload-two"></div>
          <div class="cssload-inner cssload-three"></div>
        </div>
      </div>
    </div>
    <script src="assets/js/app.js"></script>
  </body>
</html>
