vue add vuetify


---классы---
.d-{breakpoint}-{value} for sm, md, lg and xl
The value property is one of:
none
inline
inline-block
block
table
table-cell
table-row
flex
inline-flex

v-spacer   --- сдвигает вправо до упора. аналог margin: 0 0 0 auto

v-container(fluid) --всегда оборачивать компоненты , которые на полный экран

v-app-bar -- хороший app-bar для header 
  v-app-bar-nav-icon --БУРГЕР

v-for="( , index) in " 
  :key="index"


v-card
  v-card-title
  v-card-text
    v-img


v-text-field ---текстовый input
v-file-input ----файловый input

v-checkbox(v-model='task.completed'  color='indigo'  hide-details='')

v-radio-group(mandatory)
  v-radio( label='Film' :value='Film' )
  v-radio( label='Serial' :value='Serial')


v-btn(depressed='' color='primary') Primary


Photo
import Photo from '@/components/photo/Photo';
components: { Photo   },


v-dialog(v-model='dialog' persistent='' max-width='600')

----------axios----------
import axios from "axios";
Vue.prototype.axios = axios;
 mounted() {
    this.fetchToDo();
  },
  methods: {
    fetchToDo() {
      this.axios
        .get("https://jsonplaceholder.typicode.com/posts?_limit=10")
        .then((response) => (this.posts = response.data));
    },
или без axios
    const res = await fetch(
         "https://jsonplaceholder.typicode.com/posts?_limit=9"
       )
       const posts = await res.json();
      this.posts = posts

  },
------------------------vuex-------------------------
 state: {
    tasks: [],
  },

 this.$store.dispatch("newTask", task)
  computed: {
    tasks() {
      return this.$store.getters.tasks;
    },
  },
-----------
 mutations: {
    newTask(state, payload){
      state.tasks.push(payload);
    }
  },
  actions: {
    // объект  который принимает свойство commit и второй параметр сам task
    newTask({ commit }, payload) {
      commit("newTask", payload);
    },
  },
  getters: {
    tasks(state) {
      return state.tasks;
    },
  },






<!-- -------------------------------------------------------- -->
Extra small	xs		< 600px
Small	sm		600px > < 960px
Medium	md		960px > < 1264px*
Large	lg		1264px > < 1904px*
Extra large	xl	4k and ultra-wide	> 1904px*

<template><v-card :height="height">  </v-card></template>
<script>
  export default {
    computed: {
      height () {
        switch (this.$vuetify.breakpoint.name) {
          case 'xs': return 220
          case 'sm': return 400
          case 'md': return 500
          case 'lg': return 600
          case 'xl': return 800
        }
      },
    },
  }
</script>
<!-- ---------------------------------------------------------------- -->



lang="pug">
style="cursor: pointer"
class="hidden-sm-and-down"
v-layout(row)
v-flex(v-for='i in 2' :key='`6${i}`' xs6 )


v-app
v-container
v-row
v-col(cols="12"  sm="6") 
router-view
router-link(text  v-for="( menuItem, i)  in menuItems"  :key="i":to="menuItem.route") 

v-app-bar( color="deep-purple accent-4" dark)


v-toolbar
v-toolbar-title(v-text="'Learn  German'")
v-toolbar-items(class="hidden-sm-and-down")  --пункты навигации. скрываются sm

<!-- v-chip--v-chip--v-chip--v-chip--v-chip--v-chip--v-chip--v-chip-- -->
      v-chip.ma-2(color='indigo accent-3' text-color='white' label) 
        v-icon(left='')
          | mdi-wrench
        | Добавить карточку 
<!-- v-chip--v-chip--v-chip--v-chip--v-chip--v-chip--v-chip--v-chip-- -->


<!-- --v-btn----v-btn------v-btn----v-btn----v-btn-- -->
v-btn( dark='' color='indigo')
  v-icon(left)  mdi-wrench
  | Добавить карточку

v-btn(large text) Пункт1 --прозрачная
<!-- --v-btn------v-btn----v-btn----v-btn----v-btn-- -->


v-app-bar-nav-icon   ---burger
v-icon mdi-close
i.mdi.mdi-water-off 
v-navigation-drawer(absolute  temporary v-model: "drawer" ) --выезжающий сайтбар

v-list   ---как обертка . display: block;
v-list-group
v-list-item
v-list-item-action
v-list-item-action-text
v-list-item-avatar
v-list-item-content
v-list-item-group
v-list-item-icon
v-list-item-subtitle
v-list-item-title

v-card(dark color='light-blue accent-2')
v-card-title
v-card-text.px-0 1/2


v-spacer
v-layout(row wrap)
v-hover
v-img(:src="photo.url") 
v-text-field(prepend-icon='mdi-account' name='login' label='Email' type='email' required)    ----инпут
v-text-field#password(prepend-icon='mdi-lock' name='password' label='Пароль' type='password'  required)            
v-file-input          ------поиск файла в компе
v-dialog              ---------модалка

---опции ---
elevation="8"
dark
dense



---------------------------------иконки------------------------------------------------------
!!!!!!!!!!!!!!!!!!иконки искать на сайте  https://materialdesignicons.com/!!!!!!!!!!!!!!!!!
v-icon( ) mdi-close

<!-- ------------------------------------------------- -->
.justify-start
.justify-end
.justify-center
.justify-space-between
.justify-space-around
.justify-sm-start
.justify-sm-end
.justify-sm-center
.justify-sm-space-between
.justify-sm-space-around
.justify-md-start
.justify-md-end
.justify-md-center
.justify-md-space-between
.justify-md-space-around
.justify-lg-start
.justify-lg-end
.justify-lg-center
.justify-lg-space-between
.justify-lg-space-around
.justify-xl-start
.justify-xl-end
.justify-xl-center
.justify-xl-space-between
.justify-xl-space-around