
<!-- асинхронный запро на сервер с фейковым api  -->
 mounted() {
  this.axios.get('https://jsonplaceholder.typicode.com/photos?_limit=10')
  .then(response => this.photos = response.data)
  },



=============  вывести в цикле карточки 
<b-card
     :title="card.title"
     img-alt="Image" 
     img-top
     v-for="(card , index)  in cards"  :key="index"
     :img-src='card.url'
     >
      <b-card-text>
       {{card.text}}
      </b-card-text>
     </b-card>

data: () => ({   }),
     cards: [
{
  title:"title1",
  url: 'https://picsum.photos/300/300/?image=41',
  text:" This card has even longer content than the first to show that equal height action.",
},
{
   title:"title2",
  url: 'https://picsum.photos/300/300/?image=41',
  text:"This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.",
},
     ]
  }),

====================== СПУСТИТЬ ДАННЫЕ В ПОТОМКА В ВИДЕ МАССИВА

---родитель 
<Photo
v-for="( photo, index)  in photos"  :key="index"
></Photo>

<script>
import Photo from "@/components/photo/Photo"
  export default {
    data: () => ( {
     photos: [
        {
          id:1,
          title:"name-1"
        },
      ]}
     )
      ,components: {Photo}, 
  }
</script>

---потомок
<p>{{photo.id}} : {{photo.title}}</p>
<script>
  export default {
    props: {
  photo: {
    type: Object,
    required: true,
  },
},
 data: () => ({   

   }), 
     methods:{  

    }
  }
</script>





============= поднять событие в родителя и передать другому потомку ==== без vuex ГЕМОРНО

потомок------
<button @click="btnClick">Add</button>
по нажатию на кнопку в родителя пойдет событие btnClicked
methods: {
btnClick() {
this.$emit('btnClicked')
}
}
родитель---------
 у него есть еще потомок v-header и он ему передает данные
 <v-header
    :isDropdownVisible="isDropdownVisible"
    />



data(){
  return{
    isDropdownVisible: false
  },
 methods: {
btnClicked(){
        this.isDropdownVisible=true
  }
} 

второй потомок------------------- к нему приходит уже готовое значение , которое сгенерировал общий родитель
<div v-if="isDropdownVisible" ></div>
props:{
  isDropdownVisible: {
    type: Boolean,
    default: false
  }
},
по ходу клик по кнопке на удаленном компоненте например чего-нибудь откроет в другом компоненте

===========  повторяющиеся блоки
например пункты навигации с роутами даже
    <router-link
      tag="b-nav-item"
       variant="outline-primary"
       v-for="( item, index)  in menuItems"
       active-class="active"
        :key="index"
        :to="item.route"
       >  
        <b-icon  :icon = "item.icon"> </b-icon> 
      {{item.title}}
    </router-link>

делается массив и вычисляемые свойства

 computed:{
      menuItems(){
        return [
          {
            route: "/",
          },
          {
            icon: 'eye',
            title: "Читать",
            route: "/books",
          },
        ...
        ]
      }
    }



