
================ ДОБАВЛЕНИЕ-УДАЛЕНИЕ КОНКРЕТНОГО ЭЛЕМЕНТА В МАССИВ

есть массив  tags: [
      {
        title: "Comedy‎",
        use: false,
      },
      {
        title: "Westerns",
        use: false,
      },
      {
        title: "Adventure",
        use: false,
      },
    ],
в него нужно по клику 
добавить кликуемый элемент если его нет в массиве 
или удалить именно кликуемый элемент

1--верстка на старте
      
      v-list-item
        .flex-column
          v-chip.my-2( close color='red' text-color='white' ) Add new
          .d-flex.align-center
            v-text-field(  label='New Tag' type='text'  )
            v-btn.ml-4.pa-2(color="primary" ) Send

      v-list-item
        v-chip.mr-2(close color='cyan darken-4' text-color='white' ) сейчас нет названия  и один чип

2---добавляем чипы согласно массиву

      v-list-item
        .flex-column
          v-chip.my-2( close color='red' text-color='white' ) Add new
          .d-flex.align-center
            v-text-field(  label='New Tag' type='text'  )
            v-btn.ml-4.pa-2(color="primary" ) Send

      v-list-item
        v-chip.mr-2(
          close color='cyan darken-4' text-color='white'
          v-for="( tag, index)  in tags"  :key="index"
          ) {{tag.title}}

3----добавляем обработчик по клику @click="NewTag()" или по событию нажаттия enter @keyup.enter="NewTag"  --- по клику добавится новый чип с заголовком из инпута

      v-list-item
        .flex-column
          v-chip.my-2( close color='red' text-color='white' ) Add new
          .d-flex.align-center
            v-text-field(  label='New Tag' type='text' @keyup.enter="NewTag" )
            v-btn.ml-4.pa-2(color="primary" @click="NewTag()") Send

      v-list-item
        v-chip.mr-2(
          close color='cyan darken-4' text-color='white'
          v-for="( tag, index)  in tags"  :key="index"
          ) {{tag.title}}

4---- теперь по клику уже по отдельным чипам во вспомогательный массив tagsUsed (который изначально пустой tagsUsed: []), добавляются какие-то элементы. или убавляются если они уже есть. этим занимается  addTagUsed(tag)

      v-list-item
        .flex-column
          v-chip.my-2( close color='red' text-color='white' ) Add new
          .d-flex.align-center(  )
            v-text-field(  label='New Tag' type='text' v-model="tagTitle" @keyup.enter="NewTag")
            v-btn.ml-4.pa-2( color="primary"  @click="NewTag()" ) Send

      v-list-item
        v-chip.mr-2(
          close color='cyan darken-4' text-color='white' 
          v-for="( tag, index)  in tags"  :key="index"
          @click="addTagUsed(tag)"
          ) {{tag.title}} 

5 --- скрываем блок с инпутом и кнопкой и показываем только по клику на чип Add new. это делается
v-if="tagMenuShow"   и   @click="tagMenuShow=!tagMenuShow"

      v-list-item
        .flex-column
          v-chip.my-2( close color='red' text-color='white' 
           @click="tagMenuShow=!tagMenuShow"
          ) Add new
          .d-flex.align-center( v-if="tagMenuShow"  )
            v-text-field(  label='New Tag' type='text' v-model="tagTitle" @keyup.enter="NewTag")
            v-btn.ml-4.pa-2( color="primary"  @click="NewTag()" ) Send

      v-list-item
        v-chip.mr-2(
          close color='cyan darken-4' text-color='white' 
          v-for="( tag, index)  in tags"  :key="index"
          @click="addTagUsed(tag)"
          ) {{tag.title}} 

6--- дальше косметика. по клику добавляем- удаляем трансформации чипов. :class="{used: tag.use}" :class="{usedRed: tagMenuShow}"

       //- Add new
      v-list-item
        .flex-column
          v-chip.my-2( close color='red' text-color='white' 
           @click="tagMenuShow=!tagMenuShow"
           :class="{usedRed: tagMenuShow}"
          ) Add new
          .d-flex.align-center( v-if="tagMenuShow"  )
            v-text-field(  label='New Tag' type='text' v-model="tagTitle" @keyup.enter="NewTag")
            v-btn.ml-4.pa-2( color="primary"  @click="NewTag()" ) Send

        //- tags
      v-list-item
        v-chip.mr-2(
          close color='cyan darken-4' text-color='white' 
          v-for="( tag, index)  in tags"  :key="index"
          @click="addTagUsed(tag)"
          :class="{used: tag.use}"
          ) {{tag.title}} 


<!-- две функции  -->
NewTag() {
      if (this.tagTitle === "") {
        return;
      }
      this.tags.push({
        title: this.tagTitle,
        used: false,
      });
      this.tagTitle = "";
      this.tagMenuShow = !this.tagMenuShow;
    },

 addTagUsed(tag) {
      tag.use = !tag.use;
      if (tag.use === true ) {
        <!-- в конец массива пушится новый элемент с заголовком пришедшим из инпута -->
        this.tagsUsed.push(tag.title);
      } else {
        <!-- по заголовку ищется соответсвующий элемент и удаляется 
        здесь фиьтр выдаст  новый массив без этого элемента-tag.title-->
          this.tagsUsed.find((item, index , arr) => {
          if (item === tag.title) {
            arr.splice(index, 1);
          }
        })
      }
    },


<!-- ----scss косметика-->
.v-chip.used {
   background: #1e88e5 !important;
  .v-chip__content {
    color:cyan;
    transition: all 0.5s ease-in-out;
  }
  .mdi:before {
    transform: rotate(1045deg);
    color: cyan;
    transition: all 0.5s ease-in-out;
  }
}

.v-chip.usedRed {
  background:#FF5722 !important;
  .v-chip__content {
    color: #ef9a9a;
    transition: all 0.5s ease-in-out;
  }

  .mdi:before {
    transition: all 0.5s ease-in-out;
    transform: rotate(1045deg);
    color: #ef9a9a;
  }


============= ВЫЧИСЛЕНИЕ КАКИХ-ТО ПАРАМЕТРОВ ПО ДАННЫМ ИЗ ИНПУТОВ
есть инпуты 
v-text-field.ml-4(  label='Hours' type='number' required v-model="filmHours")
v-text-field.ml-4(  label='Minutes' type='number' required v-model="filmMinutes")
есть конечный результат
.overline {{ filmTime }}

data: () => ({
      filmHours: 1,
      filmMinutes: 30,
    }),
 computed: {
    filmTime () {
      <!-- вычисляется общее количество минут -->
      let min = (this.filmHours * 60) + (this.filmMinutes * 1)
      <!-- при помощи метода выводится строка с информацией hours + ' Hours ' + min + ' Minutes'-->
      return this.getHoursAndMinutes(min)
    },
 methods: {
     getHoursAndMinutes (minutes) {
       <!-- берется целая часть от minutes / 60 -->
      let hours = Math.trunc(minutes / 60)
      let min = minutes % 60
      return hours + ' Hours ' + min + ' Minutes'
    },
  },

============= ЕСТЬ ИНПУТ И МАССИВ КАРТОЧЕК
 при добавлении информации в инпут и по клику на enter-- 
 добавляется следующая карточка с информацией из инпута.

v-col.mx-auto( cols="8")
<!-- пушим новый пункт по клику на enter -->
  v-text-field(v-model="taskTitle"  @keyup.enter="NewTask()")
<!-- карточка вывода информации из инпута -->
  v-card( v-for="( task, index)  in tasks"  :key="index")
    h3.mt-3 {{task.title}}

export default {
   data: () => ({
    taskTitle: "",
<!-- id первый уже занят -->
    taskId: 2,
<!-- это массив тасков. пока еще состоит из одного пункта -->
    tasks: [
      {
        id: 1,
        title: "Заголовок 1",
      }
    ],
  }),

  methods: {
    NewTask(){
<!-- проверка есть ли информация в инпуте -->
      if (this.taskTitle === '') {return}
<!-- пушим новый пункт по клику на enter       -->
      this.tasks.push({
        id: this.taskId,
        title: this.taskTitle,
      })
<!-- сбрасываем поле , id увеличиваем-->
      this.taskId += 1
      this.taskTitle = ''
    }
  },
};

=============  ВЫВЕСТИ В ЦИКЛЕ КАРТОЧКИ 
<b-card
     :title="card.title"
     img-alt="Image" 
     img-top
     v-for="(card , index)  in cards"  :key="index"
     :img-src='card.url'
     >
      <b-card-text>
       {{card.text}}
      </b-card-text>
     </b-card>

data: () => ({   }),
     cards: [
{
  title:"title1",
  url: 'https://picsum.photos/300/300/?image=41',
  text:" This card has even longer content than the first to show that equal height action.",
},
{
   title:"title2",
  url: 'https://picsum.photos/300/300/?image=41',
  text:"This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.",
},
     ]
  }),

====================== СПУСТИТЬ ДАННЫЕ В ПОТОМКА В ВИДЕ МАССИВА

---родитель 
<Photo
v-for="( photo, index)  in photos"  :key="index"
></Photo>

<script>
import Photo from "@/components/photo/Photo"
  export default {
    data: () => ( {
     photos: [
        {
          id:1,
          title:"name-1"
        },
      ]}
     )
      ,components: {Photo}, 
  }
</script>

---потомок
<p>{{photo.id}} : {{photo.title}}</p>
<script>
  export default {
    props: {
  photo: {
    type: Object,
    required: true,
  },
},
 data: () => ({   

   }), 
     methods:{  

    }
  }
</script>





============= поднять событие в родителя и передать другому потомку ==== без vuex ГЕМОРНО

потомок------
<button @click="btnClick">Add</button>
по нажатию на кнопку в родителя пойдет событие btnClicked
methods: {
btnClick() {
this.$emit('btnClicked')
}
}
родитель---------
 у него есть еще потомок v-header и он ему передает данные
 <v-header
    :isDropdownVisible="isDropdownVisible"
    />
data(){
  return{
    isDropdownVisible: false
  },
 methods: {
btnClicked(){
        this.isDropdownVisible=true
  }
} 

второй потомок------------------- к нему приходит уже готовое значение , которое сгенерировал общий родитель
<div v-if="isDropdownVisible" ></div>
props:{
  isDropdownVisible: {
    type: Boolean,
    default: false
  }
},
по ходу клик по кнопке на удаленном компоненте например чего-нибудь откроет в другом компоненте

===========  повторяющиеся блоки
например пункты навигации с роутами даже
    <router-link
      tag="b-nav-item"
       variant="outline-primary"
       v-for="( item, index)  in menuItems"
       active-class="active"
        :key="index"
        :to="item.route"
       >  
        <b-icon  :icon = "item.icon"> </b-icon> 
      {{item.title}}
    </router-link>

делается массив и вычисляемые свойства

 computed:{
      menuItems(){
        return [
          {
            route: "/",
          },
          {
            icon: 'eye',
            title: "Читать",
            route: "/books",
          },
        ...
        ]
      }
    }


--------------- асинхронный запро на сервер с фейковым api --------------
 mounted() {
  this.axios.get('https://jsonplaceholder.typicode.com/photos?_limit=10')
  .then(response => this.photos = response.data)
  },
